# Konfiguracja serwera WireGuard
[Interface]
Address = {{ server_address }}
ListenPort = {{ server_port }}
PrivateKey = {{ server_private_key.content | b64decode }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ server_iface_name }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ server_iface_name }} -j MASQUERADE

# peers
