version: '3.9'

services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    environment:
      - TZ=Europe/Warsaw
    healthcheck:
      test: "mosquitto_sub -E -u {{ mqtt_user }} -P {{ mqtt_pass }} -t '#'"
      interval: 60s
      timeout: 10s
      retries: 5
    configs:
      - source: mosquito_conf
        target: /mosquitto/config/mosquitto.conf
    secrets:
      - mqtt_users
    volumes:
      - "mqtt_logs:/mosquitto/log"
      - "mqtt_data:/mosquitto/data"
    ports:
      - '1883:1883'
      - '8883:8883'
    deploy:
      restart_policy:
        condition: on-failure

configs:
  mosquito_conf:
    file: /data/additional_files/mqtt.conf

secrets:
  mqtt_users:
    file: /data/additional_files/mqtt_users

volumes:
  mqtt_logs:
  mqtt_data: