version: '3.2'

networks:
  loki:

services:
  loki:
    image: grafana/loki:3.0.0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3100:3100"
    volumes:
      - "{{ loki_config_dir }}:/mnt/config"
    command: -config.file=/mnt/config/loki-local-config.yaml
    networks:
      - loki

  promtail:
    image: grafana/promtail:3.0.0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "{{ loki_config_dir }}:/mnt/config"
      - "/var/log:/var/log"
    command: -config.file=/mnt/config/promtail-docker-config.yaml
    networks:
      - loki
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh
    networks:
      - loki


