version: '3.9'

services:
    homeassistant:
        image: ghcr.io/home-assistant/home-assistant:stable
        extra_hosts:
          - "host.docker.internal:host-gateway"
        volumes:
          - homeassistant:/config
          - /var/run/docker.sock:/var/run/docker.sock
          - /etc/localtime:/etc/localtime:ro
        ports:
          - target: 8123
            published: 8123
            mode: host
          - target: 8943
            published: 8943
            mode: host
        environment:
          - TZ=Europe/Warsaw
        healthcheck:
          test: 'curl -m 90 -sLf http://localhost:8123 || date >> /config/healthcheck'
          interval: 90s
          timeout: 60s
          retries: 2
        restart: unless-stopped

volumes:
  homeassistant:

