---
- Wewnętrzne:

  - Home Assistant:
    - abbr: HA
      href: http://10.0.0.135:8123/
  - Photoprism: 
    - abbr: PP  
      href: http://10.0.0.135:2342/
  - Uptime Kuma:
    - abbr: UK
      href: http://10.0.0.135:3001/status/sp6zhp
  - Ansible Semaphore:
    - abbr: AS
      href: http://10.0.0.135:2999/
  - Portainer:
    - abbr: PR
      href: http://10.0.0.135:9000/
  - Speedtest tracker:
    - abbr: ST
      href: http://10.0.0.135:8085/

- Zewnętrzne:
  - SP6ZHP Homepage:
    - abbr: HP
      href: https://sp6zhp.pl/
  - SP6ZHP Log:
    - abbr: LG
      href: https://log.sp6zhp.pl/
  - SP6ZHP Forum:
    - abbr: FR
      href: https://forum.sp6zhp.pl/

