version: "3"
services:
  uptime_kuma:
    image: louislam/uptime-kuma:1.23.13
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 3001:3001
    volumes:
      - uptime_kuma:/app/data
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  uptime_kuma:
